$black: #353535;
$red: #5e222e;

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin: 75px 0;

	.form {
		background: $red;
		width: 350px;
		box-shadow: 0 0 10px $black;
		position: relative;
		overflow: hidden;

		.form-change {
			font-family: light;
			cursor: pointer;
			
			.form-button {
				float: left;
				width: 50%;
				text-align: center;
				padding: 12px 0;
			}

			#login-button {
				color: #fff;
			}

			#register-button {
				background: #fff;
				color: $black;
			}
		}

		form {
			width: 90%;
			margin: 0 auto;
			padding: 60px 0 20px 0;

			input {
				border: 0;
				border-bottom: 1px solid #fff;
				outline: 0;
				background: transparent;
				margin: 10px 0;
				width: 100%;
				padding: 5px 0;
				text-indent: 2px;
				font-family: light;
				color: #fff;

				&::placeholder {
					font-family: light;
					color: #B5B5B5;
				}
			}

			input[type="submit"] {
				width: 130px;
				cursor: pointer;
				background: #fff;
				border: 0;
				border-radius: 15px;
				font-size: 15px;
				color: $black;
				transition: all 0.3s;

				&:hover {
					transition: all 0.3s;
					width: 150px;
				}
			}
		}
	}
}