.navbar {
  background: #5e222e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.navbar h1 {
  font-family: boldd;
  font-size: 55px;
  margin: 10px 0 0 15px;
}

.navbar h1 a {
  color: #fff;
  text-decoration: none;
}

.navbar .login-label {
  color: #fff;
  font-family: light;
  cursor: pointer;
}

.navbar .login-label:hover {
  text-decoration: underline;
}

.navbar .navbar-nav {
  margin: 30px 20px 0 0;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-nav .blogs-label {
  margin-right: 20px;
}

.navbar .navbar-nav p {
  display: inline-block;
  font-size: 24px;
}

.navbar .navbar-nav p a {
  color: #fff;
  font-family: light;
  text-decoration: none;
}

.navbar .navbar-nav p a:hover {
  text-decoration: underline;
}

.navbar .navbar-nav form {
  background: #fff;
  width: 250px;
  position: absolute;
  right: 0;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.navbar .navbar-nav form .navbar-close {
  position: absolute;
  right: 2%;
  -webkit-transform: translate(2%);
          transform: translate(2%);
  margin-top: 5px;
  cursor: pointer;
  color: #5e222e;
}

.navbar .navbar-nav form .navbar-fields {
  margin-top: 35px;
  padding-left: 20px;
}

.navbar .navbar-nav form .navbar-fields input {
  width: 90%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #353535;
  padding: 3px 0;
  color: #353535;
  text-indent: 3px;
  margin-bottom: 20px;
}

.navbar .navbar-nav form .navbar-fields input::-webkit-input-placeholder {
  font-family: light;
}

.navbar .navbar-nav form .navbar-fields input:-ms-input-placeholder {
  font-family: light;
}

.navbar .navbar-nav form .navbar-fields input::-ms-input-placeholder {
  font-family: light;
}

.navbar .navbar-nav form .navbar-fields input::placeholder {
  font-family: light;
}

.navbar .navbar-nav form .navbar-fields input[type="submit"] {
  background: #5e222e;
  border: #5e222e;
  color: #fff;
  width: 100px;
  cursor: pointer;
  font-family: light;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar-nav form .navbar-fields input[type="submit"]:hover {
  width: 120px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar-nav form .navbar-fields p {
  color: #353535;
  font-family: light;
  font-size: 13px;
  margin: 0 20px 15px 0;
}

.navbar .navbar-nav form .navbar-fields p span {
  color: #5e222e;
  text-decoration: underline;
  cursor: pointer;
}

.navbar .navbar-nav #navbar-profile {
  display: inline-block;
}

.navbar .navbar-nav #navbar-profile #navbar-picture {
  display: inline-block;
  text-decoration: none;
}

.navbar .navbar-nav #navbar-profile #navbar-picture .navbar-logged-in {
  background: #fff;
  border-radius: 100%;
  width: 35px;
  height: 30px;
  padding-top: 3px;
  text-align: center;
  font-family: light;
  color: #353535;
}

.navbar .navbar-nav #navbar-profile #navbar-menu {
  position: absolute;
  right: 2%;
  -webkit-transform: translateX(2%);
          transform: translateX(2%);
  font-family: light;
  display: none;
}

.navbar .navbar-nav #navbar-profile #navbar-menu #navbar-choices {
  width: 120px;
  margin-top: 10px;
  opacity: 0;
}

.navbar .navbar-nav #navbar-profile #navbar-menu #navbar-choices a {
  font-size: 19px;
  color: #353535;
  background: #E9E9E9;
  padding: 3px 0 3px 5px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
}

.navbar .navbar-nav #navbar-profile #navbar-menu #navbar-choices a:hover {
  background: #1B1B1B;
  color: #E9E9E9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar-nav #navbar-profile #navbar-menu #navbar-choices p {
  font-size: 19px;
  color: #353535;
  background: #E9E9E9;
  padding: 3px 0 3px 5px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar-nav #navbar-profile #navbar-menu #navbar-choices p:hover {
  background: #1B1B1B;
  color: #E9E9E9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .navbar-nav #navbar-profile #navbar-menu #navbar-choices p:last-child {
  margin-top: 5px;
}
/*# sourceMappingURL=navbar.css.map */