$black: #353535;

.navbar {
	background: #5e222e;
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	
	h1 {
		font-family: boldd;
		font-size: 55px;
		margin: 10px 0 0 15px;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	.navbar-nav {
		margin: 30px 20px 0 0;
		
		p {
			display: inline-block;
			font-size: 24px;

			&:last-child {
				margin-left: 20px;
			}
			
			a {
				color: #fff;
				font-family: light;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		a {
			display: inline-block;
			text-decoration: none;

			.navbar-logged-in {
				background: #fff;
				border-radius: 100%;
				width: 35px;
				height: 30px;
				padding-top: 3px;
				text-align: center;
				font-family: light;
				color: $black;
			}
		}
	}
}