$black: #353535;

.blogs {
	h2 {
		text-align: center;
		font-family: boldd;
		color: $black;
		font-size: 30px;
		margin-top: 25px;
	}

	.blogs-underline {
		background: $black;
		height: 2px;
		width: 65px;
		margin: 8px auto 30px auto;
	}
}